@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor0: #c59eff;
  --cor1: #b16fe3;
  --cor2: #935cbd;
  --cor3: #613d7d;
  --cor4: #3b1349;
  --cor5: #260c30;

  --fonte-padrao: "Montserrat", sans-serif;
  --fonte-destaque: "Lato", sans-serif;
  --fonte-cursiva: "Dancing Script", cursive;
}

body {
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 350px 1fr;
  column-gap: 30px;
  row-gap: 20px;
  margin: 30px;
  padding: 20px;

  align-items: start;

  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
  border-radius: 1%;
  min-height: auto;
}

.container h1 {
  color: var(--cor5);
  font-family: var(--fonte-destaque);
  font-weight: normal;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, var(--cor0), var(--cor2));
}

.container h2 {
  font-family: var(--fonte-destaque);
  color: var(--cor4);
  font-size: 1.3em;
  font-weight: normal;
}

.container p {
  text-align: justify;
  text-indent: 25px;
  line-height: 1.5em;
  font-size: 1em;
}

.container strong {
  font-weight: bold;
  color: var(--cor4);
}

.container a {
  text-decoration: none;
  color: var(--cor5);
  background-color: var(--cor2);
  padding: 2px 4px;
  font-weight: bold;
  border-radius: 5%;
}

.container a:hover {
  text-decoration: underline;
  color: var(--cor0);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  color: white;
}

.main-header h1 {
  font-family: var(--fonte-cursiva);
  font-size: 4em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
  font-weight: normal;
}

.main-header p {
  font-family: var(--fonte-destaque);
  font-size: 1em;
  /* max-width: 500px;
    padding: 0px 10px 30px 10px;
    margin: auto; */
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
}

nav {
  display: flex;
  gap: 20px;
  margin: 15px;
  background-color: var(--cor5);
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.226);
}

nav > a {
  color: var(--cor0);
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.5s;
}

nav > a:hover {
  background-color: var(--cor2);
  color: var(--cor5);
  padding: 3.5px;
}

.sobre-blog {
  grid-column: 1;
  padding: 20px;
  /* overflow: hidden; Faz o div não aumentar a altura por causa da imagem */
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 343px;

  background-color: #e6e6fa;
  border-radius: 1%;
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.17);
}

.sobre-blog img {
  width: 100%;
  max-width: 140px;
  margin: 5px;
  border-radius: 1%;
}

.resenhas {
  grid-column: 1;
  grid-row: 2;

  padding: 20px;
  background-color: #e6e6fa;
  border-radius: 1%;
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.17);
}

.container-resenhas {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
  gap: 15px;
  overflow-y: scroll;
  max-height: 666px;
}

.card {
  /* width: min-content; */
  max-width: 230px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  margin: 10px 0px;
}

.card h1 {
  font-size: 1.6rem;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.content p {
  color: #666;
}

.sobre-mim {
  grid-column: 2 / -1;
  grid-row: 1 / 2;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e6e6fa;
  border-radius: 1%;
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.17);
}

.sobre-mim img {
  border-radius: 50%;
}

.contato {
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 25px 1fr;
  justify-items: start;
}

footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

ul {
  list-style: none;
}

li {
  margin-left: 10px;
}
